@model Employee
@{
    ViewBag.Title = "Create Employee";
}

<div class="container mt-4">
    <h2 class="mb-4">Add a new employee</h2>
    <div class="col-md-5">

        <form asp-controller="Employees" asp-action="Create" novalidate>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>

        <div asp-validation-summary="All" class="text-danger mt-3"></div>

    </div>
</div>

@section scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js" 
    asp-fallback-src="/jquery/jquery-validate/jquery.validate.min.js"
    asp-fallback-test = "window.jQuery"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js" 
    asp-fallback-src="/jquery/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
    asp-fallback-test = "window.jQuery"></script>
}
