@model Employee
@{
    ViewBag.Title = "Employee Details";
}


<partial name="_TimeBox" />

<h2>Employee informations</h2>  

<div class="card w-50 mb-3">
    <div class="card-body">
        <p class="card-text"><strong>ID:</strong> @Model.Id</p>
        <p class="card-text"><strong>Name:</strong> @Model.Name</p>
        <p class="card-text"><strong>Email:</strong> @Model.Email</p>
    </div>
</div>

<a class="btn btn-success" asp-controller="Employees" asp-action="Index">Back to List</a>

@section scripts {
    <script>
        function updateClock() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            const seconds = String(now.getSeconds()).padStart(2, '0');
            const timeString = `${hours}:${minutes}:${seconds}`;
            document.getElementById('clock').textContent = timeString;
        }

        setInterval(updateClock, 1000);
        updateClock();
    </script>
}
